// *****************************************************************************
// Post previews
// *****************************************************************************

.post-preview
  margin-bottom 2rem
  .date
    margin 0
    color #999
  .title
    margin-top 0
  .title .category
    border-left 1px solid #999
    border-radius 0
    color #999
    font-family 'Merriweather', serif
    font-size .5em
    font-weight normal
    margin-left .75rem
    padding-left .75rem
    &:first-child
      margin-left 1rem

