// *****************************************************************************
// Post previews
// *****************************************************************************

.post-preview
  margin-bottom 4rem
  .post-preview-date
    color #999
    float right
    margin 0
    right 0
  .post-preview-title
    margin-top 0
  .post-preview-category
    font-family 'Merriweather', serif
    font-size .6em
    margin-left .25rem
    *
      font-weight normal
    .post-preview-bullet
      color #999
    .post-preview-link
      color #555

.post-preview-group
  display none
.post-preview-group.active
  display block

.post-preview-banner
  border-radius 0
  height 100px
  margin-bottom 1rem
  overflow hidden
  width 100%
.post-preview-banner img
  border-radius 0
  height auto
  position relative
  width 100%
.post-preview-banner-html img
  top -120px

// *****************************************************************************
// Posts
// *****************************************************************************

.post-date
  color #aaa
  font-style italic
  text-align center
