// define charset for css files
@charset "UTF-8"

// import fonts from GoogleFonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Merriweather:300|Source+Code+Pro')

// import partials
@import _variables
@import _highlight
@import _posts

// *****************************************************************************
// Common tags
// *****************************************************************************

*
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px
  font-family 'Merriweather', serif
  font-weight 300

body
  font-size 20px
  line-height 1.5

h1, h1 *
  font-family 'Lato', sans-serif
  font-weight bold
  margin-bottom 2rem
  text-align center
h1, h1 a, h2, h2 a
  text-decoration none
  color #333
h1 a:hover, h1 a:hover *
  color #0076df
h2, h2 *, h3, h3 *, h4, h4 *
  font-family 'Lato', sans-serif
  font-weight bold
h1, h2, h3, h4, h5, h6
  margin-top 2em
  color #333
h1, h1 *
  font-size 6rem
h2
  font-size 4.4rem
h3
  font-size 3.4rem
h4
  font-size 2.8rem
h5
  font-size 2.4rem
h6
  font-size 2.1rem
  margin-top 1.6em

p, ul, ol
  margin 1.4rem 0
p, li
  color #333
  line-height 1.7em

a
  color #0076df
  cursor pointer
  &:hover
    color black
    text-decoration underline
  code
    text-decoration underline
    -moz-text-decoration-style dotted
    -webkit-text-decoration-style dotted
    text-decoration-style dotted

li
  margin-bottom .25rem

hr
  background-color #ccc
  border none
  height 2px
  margin 2rem auto
  width 4rem

th
  font-weight bold

code
  font-size 1em

// *****************************************************************************
// Common classes
// *****************************************************************************

// positions
.static
  position static
.relative
  position relative
.absolute
  position absolute
.fixed
  position fixed

// alignment
.left
  text-align left
.right
  text-align right
.center
  text-align center

// columns
.columns-2
  -webkit-column-count 2
  -moz-column-count 2
  column-count 2
  -webkit-column-gap 4rem
  -moz-column-gap 4rem
  column-gap 4rem
.columns-3
  -webkit-column-count 3
  -moz-column-count 3
  column-count 3
  -webkit-column-gap 4rem
  -moz-column-gap 4rem
  column-gap 4rem

// colors
.red
  color red
.green
  color green

// misc
.cloak
  display none

// *****************************************************************************
// Header
// *****************************************************************************

#header
  text-align center

#title
  margin 4rem 0 1rem 0
  a
    color inherit
    font-family 'Lato', sans-serif
    font-size 10rem
    font-weight bold
    line-height 1em
    text-decoration none
    &:hover
      color #0076df

#subtitle
  color #666
  margin-bottom 4rem

// *****************************************************************************
// Naviation
// *****************************************************************************

#navigation
  text-align center
  margin 10rem 0
  a
    border-left 1px solid #e4e4e4
    color inherit
    padding 1rem 3rem
    text-decoration none
    &:first-child
      border-left none
    &:hover
      background-color #e4e4e4
    &.active
      background-color #e4e4e4

// *****************************************************************************
// Footer
// *****************************************************************************

#footer
  margin 4rem 0
  text-align center
  hr
    margin 8rem auto

// *****************************************************************************
// Page welcome
// *****************************************************************************

.page-welcome h2:first-child
.page-welcome h3:first-child
  margin-top 0

/* ******************************************************************************** */
/* Tutorials result
/* ******************************************************************************** */

.tutorials-result
  background-color #2d2d2d
  box-sizing border-box
  margin 0 0 1.4rem 0
  padding 15px 20px
  position relative

.tutorials-result *
  -webkit-border-radius 0
  -moz-border-radius 0
  border-radius 0

.tutorials-result .scrollable
  overflow-y scroll

.tutorials-result [class*="box"]
  opacity .8

.tutorials-result .box-green
  background-color lightgreen
.tutorials-result .box-blue
  background-color lightskyblue
.tutorials-result .box-red
  background-color lightcoral
.tutorials-result .box-orange
  background-color lightsalmon
