each strPath, strTitle in site.data.menu
  - var strActualPath = strPath === '/' ? 'index' : strPath
  - var isCurrent = url.indexOf(strActualPath) >= 0
  a(href=url_for(strPath) class=(isCurrent ? 'active' : ''))= titlecase(strTitle)
